<div class="container">
    <div class="col-md-6">
        <div class="container">
            <h1>General Histories</h1>
            <ul>
                <li>
                    <h4><%= link_to "History of Calagoria", "/pages/lore/general_histories/history_of_calagoria" %></h4>
                </li>
                <li>
                    <h4><%= link_to "History of The Calagorian Empire", "/pages/lore/general_histories/history_of_the_calagorian_empire" %></h4>
                </li>
                <li>
                    <h4><%= link_to "History of East Calaphin", "/pages/lore/general_histories/history_of_east_calaphin" %></h4>
                </li>
                <li>
                    <h4><%= link_to "History of the God-Kings", "/pages/lore/general_histories/history_of_the_god_kings" %></h4>
                </li>
            </ul>
        </div>

        <div class="container">
            <h1>Wars</h1>
            <ul>
                <li>
                    <h4><%= link_to "The Calagorian Rebellion", "/pages/lore/wars/calagorian_rebellion" %></h4>
                </li>
                <li>
                    <h4><%= link_to "The Astic Wars", "/pages/lore/wars/astic_wars" %></h4>
                </li>
                <li>
                    <h4><%= link_to "The Elvantis Skirmish", "/pages/lore/wars/elvantis_skirmish" %></h4>
                </li>
            </ul>
        </div>

        <div class="container">
            <h1>The God Kings</h1>
            <ul>
                <li>
                    <h4>Calagor Varamus (The Creator)</h4>
                </li>
                <li>
                    <h4>Minis Trask (The Spread)</h4>
                </li>
                <li>
                    <h4>Seris Fren (The Machine)</h4>
                </li>
                <li>
                    <h4>Daris Fren (The Smith)</h4>
                </li>
                <li>
                    <h4>Vitruvius Aryn (The Beautiful)</h4>
                </li>
                <li>
                    <h4>Adrianus Wrynn (The Dragon)</h4>
                </li>
                <li>
                    <h4>Pavlos Sinc (The Individualist)</h4>
                </li>
                <li>
                    <h4>Ritsa Malin (The Defender)</h4>
                </li>
                <li>
                    <h4>Prokopius Finch (The Leader)</h4>
                </li>
                <li>
                    <h4>Helena Frose (The Guide)</h4>
                </li>
                <li>
                    <h4>Hagen Moore (The Wind)</h4>
                </li>
                <li>
                    <h4>Mstislav (The Defiler)</h4>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="container">
            
        </div>
    </div>
</div>