
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#historiesList">
                    <h1>>General Histories</h1>
                </button>
                <ul class="collapse" id="historiesList">
                    <li>
                        <h4><%= link_to "History of Calagoria (Unavailable)", "/pages/lore/general_histories/history_of_calagoria" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "History of The Calagorian Empire (Unavailable)", "/pages/lore/general_histories/history_of_the_calagorian_empire" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "History of East Calaphin (Unavailable)", "/pages/lore/general_histories/history_of_east_calaphin" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "History of the God-Kings", "/pages/lore/general_histories/history_of_the_god_kings" %></h4>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#magiksList">
                    <h1>>Origins of Magiks</h1>
                </button>
                <ul class="collapse" id="magiksList">
                    <li>
                        <h4>(Unavailable)</h4>
                    </li>
                    <li>
                        <h4>(Unavailable)</h4>
                    </li>
                    <li>
                        <h4>(Unavailable)</h4>
                    </li>
                    <li>
                        <h4>(Unavailable)</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#warsList">
                    <h1>>Wars</h1>
                </button>
                <ul class="collapse" id="warsList">
                    <li>
                        <h4><%= link_to "The Calagorian Rebellion (Unavailable)", "/pages/lore/wars/calagorian_rebellion" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "The Astic Wars (Unavailable)", "/pages/lore/wars/astic_wars" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "The Elvantis Skirmish (Unavailable)", "/pages/lore/wars/elvantis_skirmish" %></h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#asticansList">
                    <h1>>Origins of the Asticans</h1>
                </button>
                <ul class="collapse" id="asticansList">
                    <li>
                        <h4><%= link_to "Origins of the Elvantis", "/pages/lore/origins/asticans/elvantis" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Origins of the Dwarval (Unavailable)", "/pages/lore/origins/asticans/dwarval" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Origins of the Colotics (Unavailable)", "/pages/lore/origins/asticans/colotics" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Origins of the Gnomatic (Unavailable)", "/pages/lore/origins/asticans/gnomatic" %></h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#godkingsList">
                    <h1>>The God-Kings</h1>
                </button>
                <ul class="collapse" id="godkingsList">
                    <li>
                        <h4><%= link_to "Calagor Varamus (The Creator)", "/pages/lore/god_kings/calagor_varamus" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Minas Trask (The Spread)", "/pages/lore/god_kings/minas_trask" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Seris Fren (The Machine)", "/pages/lore/god_kings/seris_fren" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Daris Fren (The Smith)", "/pages/lore/god_kings/daris_fren" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Vitruvius Aryn (The Beautiful)", "/pages/lore/god_kings/vitruvius_aryn" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Adrianus Wrynn (The Dragon)", "/pages/lore/god_kings/adrianus_wrynn" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Pavlos Sinc (The individualist)", "/pages/lore/god_kings/pavlos_sinc" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Ritsa Malin (The Defender)", "/pages/lore/god_kings/ritsa_malin" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Prokopius Finch (The Leader)", "/pages/lore/god_kings/prokopius_finch" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Helena Frose (The Guide)", "/pages/lore/god_kings/helena_frose" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Hagen Moore (The Wind)", "/pages/lore/god_kings/hagen_moore" %></h4>
                    </li>
                    <li>
                        <h4><%= link_to "Mstislav (The Defiler)", "/pages/lore/god_kings/mstislav" %></h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#alliancesList">
                    <h1>>Alliances</h1>
                </button>
                <ul class="collapse" id="alliancesList">
                    <li>
                        <h4> (Unavailable)</h4>
                    </li>
                    <li>
                        <h4> (Unavailable)</h4>
                    </li>
                    <li>
                        <h4> (Unavailable)</h4>
                    </li>
                    <li>
                        <h4> (Unavailable)</h4>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#layOfLandList">
                    <h1>>Lay of the Land</h1>
                </button>
                <ul class="collapse" id="layOfLandList">
                    <li>
                        <h4><%= link_to "Travel Options", "/pages/lore/lay_of_land/travel_options" %> </h4>
                    </li>
                    <li>
                        <h4><%= link_to "Calendars of Calagoria", "/pages/lore/lay_of_land/calendars_explanation" %></h4>
                    </li>
                    <li>
                        <h4>(Unavailable)</h4>
                    </li>
                    <li>
                        <h4>(Unavailable)</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>